In [64]:
import pandas as pd

In [65]:
data=pd.read_csv(r"C:\Users\TANISHA\OneDrive\Desktop\statistics-data-science\fsdsmendtoend-main-20240504T071211Z-001\fsdsmendtoend-main\notebooks\data\cubic_zirconia.csv")

In [66]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [67]:
data.sample(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
14961,14962,0.31,Ideal,F,VS2,62.1,57.0,4.36,4.34,2.70,802
7511,7512,0.70,Good,H,VS2,59.7,57.0,5.75,5.80,3.45,2347
2660,2661,0.71,Ideal,D,SI1,62.3,56.0,5.72,5.70,3.56,3316
16278,16279,0.90,Premium,F,SI2,58.0,57.0,6.41,6.34,3.70,3704
9513,9514,0.30,Ideal,E,VVS1,61.1,56.0,4.38,4.36,2.67,982

In [68]:
data.isnull()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
26962,False,False,False,False,False,False,False,False,False,False,False
26963,False,False,False,False,False,False,False,False,False,False,False
26964,False,False,False,False,False,False,False,False,False,False,False
26965,False,False,False,False,False,False,False,False,False,False,False
26966,False,False,False,False,False,False,False,False,False,False,False

In [69]:
data.isnull().sum()

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26967 non-null  int64
 1   carat       26967 non-null  float64
 2   cut         26967 non-null  object
 3   color       26967 non-null  object
 4   clarity     26967 non-null  object
 5   depth       26270 non-null  float64
 6   table       26967 non-null  float64
 7   x           26967 non-null  float64
 8   y           26967 non-null  float64
 9   z           26967 non-null  float64
 10  price       26967 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 2.3+ MB

In [73]:
data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [77]:
data.drop(labels=["Unnamed: 0"],axis=1)

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]